{% extends "Master/muban.html" %}

{% block content %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
                <h3 class="panel-title">设备查询</h3>
            </div>
            <div class="panel-body">

                <form action='/AddCameraDevice/' method="post" >
                    {% for forms in form %}
                    {{ forms.label}}:{{ forms }}
                    {{ forms.error }}
                    {% endfor %}
                    <input type="submit" value="查询" class="btn bt-sm btn-primary radius"><span>{{ status }}</span>
                </form>
            </div>
        </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
                <h3 class="panel-title">添加摄像头</h3>
            </div>
            <div class="panel-body">

                <form action='/AddCameraDevice/' method="post" >
                    {% for forms in form %}
                    {{ forms.label}}:{{ forms }}
                    {{ forms.error }}
                    {% endfor %}
                    <input type="submit" value="添加" class="btn bt-sm btn-primary radius"><span>{{ status }}</span>
                </form>
            </div>
        </div>
    <div>
            <h1 style="text-align: center">摄像头列表</h1>
            <table style="text-align: center" class="table table-bordered">
                <tr>

                    <td>名称</td>
                    <td>区域</td>
                    <td>IP</td>
                    <td>状态</td>
                    <td>分组</td>
                    <td>方向</td>
                    <td>类型</td>
                    <td>品牌</td>
                    <td>型号</td>
                    <td>运营商</td>
                    <td>后台存储</td>
                    <td>更新时间</td>
                    <td>创建时间</td>
                    <td>修改</td>
                    <td>删除</td>

                </tr>
                {% for item in cameradevice_list %}
                    <tr>

                        <td><a href="../CameraDevice/{{ item.id }}/" target="_blank">{{ item.name }}</a></td>
                        <td>{{ item.regionid.name }}</td>
                        <td>{{ item.ip}}</td>
                        <td>{{ item.statusid.name}}</td>
                        <td>{{ item.groupid.name}}</td>
                        <td>{{ item.directionid.name}}</td>
                        <td>{{ item.ctypeid.name}}</td>
                        <td>{{ item.brandid.name}}</td>
                        <td>{{ item.dtypeid.name}}</td>
                        <td>{{ item.telecomid.name }}</td>
                        <td>{{ item.nvrdeviceid.name }}</td>
                        <td style="font-size: 10px">{{ item.updatetime|date:"Y-m-d" }}<br>{{ item.updatetime|date:"H:i:s" }}</td>
                        <td>{{ item.addtime|date:"Y-m-d" }}</td>
                        <td><a class="btn bt-sm btn-success radius" type="button" href="../UpdateCameraDevice/{{ item.id }}/" target="_blank">修改</a></td>
                        <td><a class="btn bt-sm btn-danger radius" type="button" href="../DelCameraDevice/{{ item.id }}/" target="_blank" onclick="return confirm('你确认要删除设备吗？')">删除</a></td>
                    </tr>
                {% endfor %}

            </table>
    </div>


</div>



{% endblock %}

{% block javascript %}

{% endblock %}