<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action='/AddVideoDevice/' method="post">
        <span>设备ID:</span>{{ form.pid }}
        <br/>
        <span>名称:</span>{{ form.name }}
        <br/>
        设备分组:<select name="group">
            {% for g in grouplist %}
                <option id="group" name="group" value="{{ g.id }}">{{ g.name }}</option>
            {% endfor %}
        </select>

        <br/>
        <span>摄像头区域划分:</span>{{ form.region }}
        <br/>
        <span>摄像头分类:</span>{{ form.vtype }}
        <br/>
        <span>摄像头IP:</span>{{ form.ip }}
        <br/>
        <span>摄像头帐号:</span>{{ form.username }}
        <br/>
        <span>摄像头密码:</span>{{ form.password }}
        <br/>
        <span>摄像头经度:</span>{{ form.vtype }}
        <br/>
        <span>摄像头纬度:</span>{{ form.vtype }}
        <br/>
        <input type="submit" value="添加"><span>{{ status }}</span>
    </form>
</body>
</html>