<Head xmlns="http://www.w3.org/1999/html">
    <!DOCTYPE html>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"><!--编码-->
    <meta name="keywords" content="张子建,帅哥,超级帅哥,张子建就是帅哥"><!--关键字-->
    <meta http-equiv="refresh" content="3000; Url=http://www.9966g.com" /><!--30秒自动刷新,Url="http://www.9966g.com为跳转-->
    <meta name="description" content="这是一个帅哥制作的网站,这个帅哥叫做张子建,他是本站的站长,而且他非常非常帅,是我目前见过最帅的帅哥" /><!--针对搜索引擎关键词-->
    <title>haohaowan</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/common.css">
    <style>
        .bg-ico{
            background: url(../static/images/1.png);
            height: 100px;
            background:no-repeat -0px -0px ;
            top: 9px;
            left: 18px;
            width: 18px;
            height:16px;

        }
    </style>
</Head>

<html>

<body style="margin: 0px auto;">
    <p>第一行段落</p>
    <p>第二行段落</p>
    第三行换行<br/>
    第四行换行<br/>
    <a href="http://www.9966g.com" target="_blank">我是谁</a>
    <h1>h1标签</h1>
    <select>
        <option>上海</option>
        <option>北京</option>
        <option selected="selected">广州</option>
    </select>
    <select size="4">
        <option>上海</option>
        <option>北京</option>
        <option>广州</option>
        <option>海南</option>
        <option>黑龙江</option>
    </select>
        <select>
            <optgroup label="海南省">
                <option>儋州市</option>
                <option>海口市</option>
                <option>三亚市</option>
            </optgroup>
            <optgroup label="黑龙江省">
                <option>鸡西市</option>
                <option>密山市</option>
                <option>虎林市</option>
            </optgroup>

    </select>

    <input type="checkbox"/>
    <input type="checkbox" checked="checked" /></br></br>
    男:<input type="radio" name="1" value="男"/>
    女:<input type="radio" name="1" value="女"/>
    中性:<input type="radio" name="1" value="中性"/></br></br>
    <input type="file"/></br></br>
    <input type="image" /></br></br>
    <fieldset>
        <legend>登陆</legend>
    <form action="http://www.baidu.com/s" method="get">
        <input type="text" name="wd" id="username"/>
        <input type="password" name="key" id="password"/>
        <input type="submit" value="登陆"/>
        <input type="button" value="重置" onclick="clean(username,password)"/>
    </form>
    </fieldset>
    </br</br>
    <form action="http://www.baidu.com" enctype="multipart/form-data" method="post">
        <input type="file" />
        <textarea style="height: 200px;width:300px"></textarea>
        <input type="submit" value="提交"/>
    </form>
    <h2>label</h2>
    <label for="name2">姓名</label><input id="name2" type="text"/>
    <label>婚否</label><input id="marriy1" type="checkbox"/>
    <div style="background-color: red;height:50px;"></div>
    <span style="background-color:greenyellow;height:100px;">123</span>
    </br>
    </br>
    <div style="height:45px;background:blue;">神</div>
    <div style="width: 900px;background: pink;margin: 0px auto;">
        <div style="height: 100px;background: greenyellow;float: left;">left</div>
        <div style="height: 100px;background: green;float: right;">right</div>
        <div style="clear: both;"></div>
    </div>
    <div style="width: 9800px;">

    </div>
    <div class="bg-ico"></div><div>123</div>






<div style="height: 500px;"></div>
</body>


</html>